// @import '../TitleAndPara';               //To use partials for Title and paragraphs
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



                                            // header 


.service-brand-header-title{
    max-width: 55.554rem;
}
.service-brand-header-para{
    text-align: center;

}
//for tablet view
@media screen and (max-width:1024px){
    .service-brand-header-title{
        max-width: 41.5rem;
    }

}
//for mobile view
@media screen and (max-width:640px){
    .service-brand-header-title{
        max-width: 19rem;
    }
    .service-brand-header-para{
        width: 100% ;
    }
}


                                            //section 1
.service-brand-section-one-title{
    max-width: 67.5rem;
}
.service-brand-section-one-para{
    max-width: 67.5rem;
}
.servicebrand-section-branding-img{
    width: 100% ;
    background-image: url('../../Images/ServiceBrand/branding-img.jpg');
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

//for tablet view
@media screen and (max-width:1366px) {
    .servicebrand-section-branding-img{
        background-attachment:scroll;
    }
}
@media screen and (max-width:1024px){
    .service-brand-section-one-title,.service-brand-section-one-para{
        max-width: 35.125rem;
    }
    .servicebrand-section-branding-img{
        height: 360px ;
    }
}
//for mobile view
@media screen and (max-width:640px){
    .service-brand-section-one-title,.service-brand-section-one-para{
        max-width: 100% !important;
    }
    .servicebrand-section-branding-img{
        height: 200px ;
    }
}


                                            //section 2

.brand-identity-process-box{
    max-width: 50rem;
    width: 100%;
    background: #111111;
}
.brand-identity-process-title{
    max-width: 32.5rem;

}
.brand-product-strategy-box{
    background: #FAFAFA;
    max-width: 50rem;
    width: 100%;
    border-right: 1px solid #DDDDDD;
}

.brand-product-strategy-bottom-box{
    border: 1px solid #DDDDDD;
}

.parent-grid-box{
    max-width: 100rem;
    border-right: 1px solid #DDDDDD;
}
.grid-box{
    border: 1px solid #DDDDDD;
    border-top: none;
    border-right: none;
    height: 18.75rem;
    &:last-child{
        border-bottom: none ;
    }
}
.grid-boxex-title,.grid-boxes-para{
    max-width: 23rem;
}

.grid-last-3-box{
    border-bottom: none;
}

//for tablet view
@media screen and (max-width:1023px){
    .brand-identity-process-box,.brand-product-strategy-box{
        max-width: 100% !important;
    }
  
    .parent-grid-box{
        max-width: 100%;
        // border-bottom: 1px solid #DDDDDD;
    }
    .grid-box{
        height: 17.625rem;
    }
    .grid-boxex-title,.grid-boxes-para{
        max-width: 18.25rem;
    }
    .grid-last-3-box{
        border-bottom: 1px solid #DDDDDD;
    }
    .grid-last-second-box{
        border-bottom: none;
    }
    
}

//for mobile view
@media screen and (max-width:640px){
    .service-brand-section-one-title{
        max-width: 18.375rem;
    }
    .service-brand-section-one-para{
        max-width: 18.375rem;
    }
    .brand-identity-process-title{
        // max-width: 18.375rem;
        min-width: 100%;
        max-width: 100%;
    }
    .brand-product-strategy-subtitle{
        // max-width: 18.375rem;
        min-width: 100%;
        max-width: 100%;
    }

    .grid-box{
        height: 13.5rem;
        border-left: none;
    }
    .grid-last-second-box{
        border-bottom: 1px solid #DDDDDD;
    }
  
    .grid-boxex-title,.grid-boxes-para{
        max-width: 100%;
    }
  
}


                                        //section 3

.deliverables-section{
    border-top: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
}
.deliverables-border-box{
    border-top: 1px solid #DDDDDD;
    width: 27.563rem;
}




//for mobile view
@media screen and (max-width:640px){

        .deliverables-border-box{
            width: 18.375rem;
        }
 
}


                                            //section 4
.service-brand-section-5{
    border-top: 1px solid #DDDDDD;
}

.service-brand-bottom-blue-link::after{
    content: '';
    position: absolute;
    background-color: #0057FF;
    height: 3px;
    width: 0%;
    left: 0%;
    bottom: -0.4rem;
    transition: 0.3s;
}
.service-brand-bottom-blue-link:hover:after{
    width: 100%;
}

//for mobile view
@media screen and (max-width:640px){
    .service-brand-bottom-blue-link{
        font-size: 1.5rem;
        line-height: 2.25rem;
    }
}
