// @import '../TitleAndPara';               //partials for header main heading and page paragraphs
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


//header

.landing-page-header {
    background: #111111;
}

.experience-seamless-title {
    max-width: 66.375rem;
}

.landing-page-para {
    max-width: 34.239rem;
    // height: 4rem;
    margin: auto;
}

.visit-payppy-btn {
    background: #FFFFFF;
    // z-index: 2;
}

.visit-payppy-txt {
    gap: 50px;
    text-transform: uppercase;
    color: #111111;
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 2.25rem;
    letter-spacing: 0.0625rem;
    padding: 22px 28px 22px 28px;
    border-right: 2px solid #111111;
}

.btn-arrow-img-box {
    width: 76px;
}

.btn-arrow-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.4s;
}

.visit-payppy-btn:hover {
    background: #00FF95;
}

.visit-payppy-btn:hover .btn-arrow-img {
    top: -8px;
    left: 45px;
}

// .landing-page-header-img-box{
//     width: 1063.25px;
// }
.landing-head-store-small-img {
    display: none;
}

@media screen and (max-width:1024px) {
    .experience-seamless-title {
        max-width: 41.5rem;
    }

    .landing-head-store-img {
        width: 664px;
        height: 402.07px;

    }
}

@media screen and (max-width:640px) {
    .experience-seamless-title {
        max-width: 20rem;
    }

    .landing-page-para {
        max-width: 20rem;
    }

    .landing-head-store-img {
        display: none;
    }

    .landing-head-store-small-img {
        display: block;
    }
}




//three sections

//section one

.landing-page-section-one {
    border-bottom: 1px solid #DDDDDD;
}

.landing-section-one-info {
    width: 32.625rem;
}

.landing-page-section-one-para {
    max-width: 18.688rem;
}



@media screen and (max-width:1024px) {

    .landing-page-section-one-para {
        max-width: 32.625rem;
    }

    .fav-brand-icon {
        width: 80px;
        height: 80px;
        padding: 12.4px 3px 11.34px 3.72px;
    }

    .fav-brands-img {
        width: 100vw !important;
        height: auto;
    }
}

@media screen and (max-width:640px) {
    .landing-page-section-heading {
        max-width: 20rem;
    }

    .landing-section-one-info {
        width: 100%;

    }

    .landing-page-section-one-para {
        max-width: 18.25rem;
    }

    .fav-brand-icon {
        width: 80px;
        height: 80px;
        padding: 12.4px 3px 11.34px 3.72px;
    }

    .visit-payppy-app-section-btn {
        font-size: 16px;
    }

    .landing-page-section-one {
        width: 100%;
        overflow: hidden;
    }

    .visit-payppy-app-section-btn {
        max-width: auto;
    }
}

//section two

.landing-page-section-two-para {
    max-width: 26.375rem;
}

@media screen and (max-width:1024px) {
    .earn-reward-img {
        width: 100vw;
        height: auto;
    }

}

@media screen and (max-width:640px) {
    .landing-page-section-two-para {
        max-width: 22.2rem;
    }

    .earn-reward-icon {
        width: 72px;
        height: 72px;
    }
}


//section three

.landing-page-section-three-para {
    max-width: 21.719rem;
}

@media screen and (max-width:1024px) {
    .landing-page-section-three-para {
        max-width: 31.375rem;
    }

    .refer-friend-img {
        width: 100vw;
        height: auto;
    }

}

@media screen and (max-width:640px) {
    .landing-page-section-three-para {
        max-width: 20rem !important;
    }
}

//section four

.landing-page-section-four-inner-container {
    max-width: 80rem;
}

.bookmark-title {
    max-width: 15.5rem;
}

// .bookmark-para,.delivery-para,.sustainability-para{
//     max-width: 23rem;
// }
.delivery-title {
    max-width: 18rem;
}

.sustainability-title {
    max-width: 15.96rem;
}

@media screen and (min-width:1023px) and (max-width:1340px) {
    .landing-page-section-four {
        flex-wrap: wrap;
        justify-content: flex-start !important;
        align-items: flex-start;
        padding: 120px 80px !important;
        gap: 80px ;
    }
}

@media screen and (max-width:1023px) {
    .bookmark-title {
        max-width: 15.5rem;
        margin: 0 auto;
    }

    .bookmark-para {
        max-width: 22.875rem;
        margin: 0 auto;
    }

    .delivery-title {
        max-width: 17.75rem;
        margin: 0 auto;
    }

    .delivery-para {
        max-width: 22rem;
        margin: 0 auto;
    }

    .sustainability-title {
        max-width: 41.5rem;
        margin: 0 auto;
    }

    .sustainability-para {
        max-width: 20.125rem;
        margin: 0 auto;
    }

}

@media screen and (max-width:640px) {

    .bookmark-title,
    .delivery-title {
        max-width: 15.5rem;
    }

    .bookmark-para,
    .delivery-para,
    .sustainability-title,
    .sustainability-para {
        max-width: 20rem;
    }

}

//section five


// .landing-page-section-five{
// border-bottom:1px solid #DDDDDD;
// padding: 200px 160px 200px 160px ; 
// }
.section-five-title,
.scrolling-game-para {
    max-width: 25rem;
}

.left-border-div {
    border-left: 1px solid #7A7A7A;
    height: 80px;
}

.insta-img-container {
    width: 400px;
    height: 602.3px;
    overflow: hidden;
}

.landingpage-insta-twitter-links {
    border-radius: 50%;
    border: 1px solid #7A7A7A;

    &:hover {
        background-color: #faf7f7;
    }
}


@media screen and (max-width:1024px) {
    .landing-page-section-five {
        width: 100%;
        // overflow: hidden;
    }

    .section-five-title,
    .scrolling-game-para {
        max-width: 25rem;
    }

    .left-border-div {
        border-left: none;
        border-bottom: 1px solid #7A7A7A;
        width: 60px;
        height: 1px;
    }

}

@media screen and (max-width:640px) {
    .section-five-title {
        max-width: 18.25rem;
    }

    .landing-page-section-three-para {
        max-width: 20rem !important;
    }

    .refer-friend-img {
        width: 360px !important;
        height: 500px;
        object-fit: cover;
    }

    .insta-img-container {
        width: 280px;
        height: 422px;
    }

    .insta-img {
        width: 280px;
        height: 425.81px;
    }
}

.custom-payppy-co-links {
    position: relative;
    display: inline-block;

    &:hover {
        color: #00FF95 !important;
    }
}

.custom-payppy-co-links::after {
    content: '';
    position: absolute;
    // bottom: -0.838rem;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background: #00FF95;
    z-index: 4;
    transition: 0.25s ease;
}

.custom-payppy-co-links:hover::after {
    width: 100% !important;
}