*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


                                            //header

.border-between-casestudy-header-brand-web{
    height: 28px;
    width: 2px;
    &:last-child{
        display: none;
    }
}
.case-study-header-logo{
    width: 97px;
    height: auto;
}
.casestudy-header-first-box,.casestudy-header-second-box{
    max-width: 45rem;
    width: 100%;
}
.usecase-section-dp-img{
    border-radius: 50%;
}
// .casestudy-header-second-div-img-container{
    // height: 645px ;
    // border: 1px solid white;
// }
.casestudy-header-second-div-img{
    max-width: none;
}
@media screen and (max-width:1023px) {
    .casestudy-header-first-box,.casestudy-header-second-box {
        max-width: 100%;
    }
    .casestudy-header-second-div-img{
        width: 100%;
    }
}



                                            //section

.casestudy-section-content-width{
    max-width: 53.875rem;
    width: 100%;
}
.horizontal-grey-line{
    max-width: 53.875rem;
    width: 100%;
    // height: 1px;
}
.casestudies-our-result-content-box{
    border-top: 1px solid  #DDDDDD;
}
.casestudy-exploremore-section{
    border-top: 1px solid  #DDDDDD;
    border-bottom: 1px solid  #DDDDDD;
}
.casestudy-blue-link::after{
    content: '';
    position: absolute;
    background-color: #0057FF;
    height: 3px;
    width: 0%;
    left: 0%;
    bottom: -0.4rem;
    transition: 0.3s;
}
.casestudy-blue-link:hover:after{
    width: 100%;
}

@media screen and (max-width:640px) {
    .usecase-section-dp-img{
        width: 72px;
        height: 72px;
    }
}